# using jupyter-athena-sql

In this small howto we use AWS Athena and show how to query it from jupyter notebooks.

some preparation steps:
* obviously you need access to an AWS account (including access to AWS Athena)
* you need to create an S3 bucket for your data
* if you are running jupyter outside of AWS you need to setup credentials for remotely accessing your account
* upload the CSV file to S3 (you can use other formats...)

the CSV file `ice_cream.csv` we used looks like this:
``` text
Chocolate,28
Vanilla,26
Cookie Dough,22
Swiss Almond,19
Mint Chocolate,15
Strawberry,12
```

Have fun.

## load the `athena` extension

In [1]:
%load_ext athena

creating a database and table so we can query the data:

In [2]:
%%athena
CREATE DATABASE IF NOT EXISTS ice_cream

In [3]:
%%athena 
CREATE EXTERNAL TABLE IF NOT EXISTS ice_cream.ratings (
flavour varchar(100),
rating int
)
ROW FORMAT DELIMITED
  FIELDS TERMINATED BY ','
  ESCAPED BY '\\'
  LINES TERMINATED BY '\n'
  LOCATION 's3://athena-sql-sample/jupyter/';

## now we can query our database table

In [3]:
%athena select * from ice_cream.ratings

          flavour  rating
0       Chocolate      28
1         Vanilla      26
2    Cookie Dough      22
3    Swiss Almond      19
4  Mint Chocolate      15
5      Strawberry      12

running queries against athena... woot woot